.root {
    position: relative;
    width: 100%;
    height: 80px;
    min-height: 80px;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.inner {
    display: flex;
    width: 100%;
    align-items: center;
}
.inner div{
    flex: 1;
}
.icon {
    text-align: center;
    width: 42px;
    height: auto;
    fill: var(--green);
}

.categories__item .icon {
    margin-left: 18px;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 0 32px;
    height: 100%;
    display: flex;
    align-items: center;
}
.categories {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto;
}
.categories + .icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.categories__item {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
    max-width: 420px;
    text-transform: uppercase;
    font-family: Muller;
    background-color: var(--yellow);
    cursor: pointer;

}
.categories__item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 20px;
    background-color: var(--green);
}
.categories__item_active {
    height: 120px;
}
.categories__item_active::before {
    width: 220px;
    height: 4px;
}


@media (max-width: 1344px) { 
    div.categories {
        padding-left: 90px;
        padding-right: 90px;
    }
    .categories__item {
        font-size: 22px;
    }
}

@media (max-width: 1150px) { 
    .categories__item {
        font-size: 18px;
    }
    .categories__item_active {
        height: 100px;
    }
    .categories__item::before {
        height: 14px;
    }
    .categories__item_active::before {
        width: 200px;
        height: 4px;
    }
    .root {
        height: 60px;
        min-height: 60px;
    }
}

@media (max-width: 960px) { 
    .categories {
        justify-content: flex-start;
    }
    .categories__item {
        flex: initial;
        padding: 0 12px;
    }
    .categories__item span{
        display: none;
    }
    .categories__item::before {
        width: 0;
    }
    .categories__item_active::before {
        width: 100%;
    }
    .categories__item_active {
        height: 100%;
    }
    .categories__item_active span {
        display: block;
    }
}

@media (max-width: 560px) { 
    .categories {
        display: none;
    }
    .inner {
        display: none;
    }
}

@media (max-width: 768px) { 
    .root {
        margin-bottom: 0;
    }
}