
@font-face {
  font-family: 'Muller';
  src: local('Muller Black'), local('Muller-Black'),
      url('./assets/fonts/MullerBlack.woff2') format('woff2'),
      url('./assets/fonts/MullerBlack.woff') format('woff'),
      url('./assets/fonts/MullerBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: local('Muller Medium'), local('Muller-Medium'),
      url('./assets/fonts/MullerMedium.woff2') format('woff2'),
      url('./assets/fonts/MullerMedium.woff') format('woff'),
      url('./assets/fonts/MullerMedium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: local('Muller Bold'), local('Muller-Bold'),
      url('./assets/fonts/MullerBold.woff2') format('woff2'),
      url('./assets/fonts/MullerBold.woff') format('woff'),
      url('./assets/fonts/MullerBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root {
  --yellow: #FFE711;
  --green: #166C00;
  --gray: #f2f2f2;
  --easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
  --easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
  --easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
  --easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
  --easeInOutExpo: cubic-bezier(1, 0, 0, 1);
  --easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
  --easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
html,
body {
  min-width: 100%;
  padding: 0;
  margin: 0;
  color: var(--green);
  background: var(--yellow);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  font-family: Muller, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;

}
ul {
  padding-left: 16px;
  margin-bottom: 16px;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: currentColor;
}


h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 12px;
    text-transform: uppercase;
    position: relative;
}
h2 + p {
  padding-left: 16px;
  position: relative;
}

blockquote {
  position: relative;
  padding: 40px 0 68px;
  margin-bottom: 40px;
}
blockquote:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  height: 100%;
  background-color: var(--yellow);
  z-index: -1;
}
blockquote>div::first-line {
  font-weight: 900;
  font-size: 28px;
}
blockquote>div {
  text-align: right;
  position: absolute;
  bottom: 12px;
  right: 0;
  z-index: 1;
  text-transform: uppercase;
  font-size: 14px;
}

h3 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
}
h4 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
}
h5 {
  font-size: 16px;
  opacity: 0.9;
  text-transform: uppercase;
  margin-bottom: 4px;
}

svg {
  fill: currentColor
}

@media (max-width: 560px) { 
    h2 {
      font-size: 24px;
    }
    body {
      font-size: 16px;
    }
}