

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
    padding-top: 50px;
}

.more {
    border: none;
    width: 100%;
    display: block;
    background-color: var(--yellow);
    text-align: center;
    padding: 10px 8px;
    font-size: 18px;
    font-family: Muller;
    margin-top: 32px;
    text-transform: uppercase;
    color: inherit;
    font-weight: 900;
    outline: none;
}