.main {
    overflow-x: hidden;
    position: relative;
    transform: translateX(0);
    transition: transform 0.5s var(--easeInOutQuint);
    padding-top: 100px;
    padding-bottom: 40px;
    /* background-color: #F2F2F2; */
}
.main.home {
    padding-top: 120px;

    padding-bottom: 0;
    height: 100vh;
}
.main_kontakty {
    background-color: var(--green);
    color: var(--yellow);
}
.main_menu {
    transform: translateX(80px);
    transition: transform 0.5s var(--easeInOutQuint);

}
.container {
    width: 100%;
    min-height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.categories {
    display: flex;
    min-width: 1260px;
}
.categories__item {
    text-align: center;
    font-family: Muller;
    text-transform: uppercase;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories__item svg {
    width: 42px;
    height: auto;
    fill: var(--green);
    margin-left: 16px;
}

@media (max-width: 560px) { 
    .main {
        padding-top: 80px;
    }
    .main.home {
        min-height: calc(100vh - 100px);
        height: calc(100vh - 100px);
        padding-bottom: 40px;
    }
}
