.filter {
    width: 100%;
    position: relative;
}
.download {
    font-size: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 100%;
    z-index: 10;
    margin-bottom: 32px;
}

.download svg {
    display: block;
    margin-left: 12px;
    height: 20px;
    width: auto;
}
.line {
    display: block;
    position: relative;
    margin-bottom: 32px;
    width: 100%;
    padding: 0 60px;
    overflow: hidden;
    
}
.line:not(.line_gray) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.line_gray .slide {
    background-color: #fff;
}
.line:last-child {
    margin-bottom: 0;
}

.inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 8px 0 0 8px;
    background-color: var(--gray);

}
.inner .slide {
    align-self: stretch;
    margin-right: 8px;
    margin-bottom: 8px;
}
.slide {
   width: auto; 
}
.next {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
}
.prev {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;
}
.next svg{
    fill: var(--green);
    transform: scaleX(-1);
}
.prev svg{
    fill: var(--green);
}
.hidden_nav {
    display: none !important;
}
.container {
    width: 100%;
    overflow: hidden;
}
.container > div {
    /* justify-content: center; */
}

.item {
    cursor: pointer;
    position: relative;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    font-size: 14px;
    color: var(--green);
    font-weight: 700;
    font-family: Muller;
    outline: none;
    width: 160px;
}
.item * {
    pointer-events: none;
}
.item:not(.item_line)::before {
    content: '';
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--yellow);
    position: absolute;
    right: 50%;
    margin-right: -60px;
    top: 66px;
    z-index: 2;
}
.item:not(.item_line)::after {
    content: '';
    opacity: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #209E00;
    position: absolute;
    right: 50%;
    margin-right: -52px;
    top: 74px;
    z-index: 2;
    transition: opacity 0.175s;

}
.item_line {
    padding: 8px 12px;
    height: 100%;
    justify-content: center;
    width: 100%;
    transition: background-color 0.175s;
    /* background-color: #fff; */
}

.item_press .image {
    transform: scale(0.9);
    transition: transform 0.175s;

}
.item_press.item_line .title {
    transform: scale(0.9);
    transition: transform 0.175s;
}
.item_active.item_line {
    background-color: var(--yellow);
}

.item:hover.item_line {
    background-color: var(--yellow);
}
.item:hover.item:after, .item:hover.item:not(.item_line):after {
    opacity: 0.6;
}

.item_line:hover:after {
    opacity: 0.6;
    background-color: var(--yellow);

}
.item_active.item:after, .item_active.item:not(.item_line):after {
    opacity: 1;
}


.image {
    border-radius: 50%;
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;
    transition: transform 0.35s;
}
.image img {
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity 0.1s;
}
.title {
    position: relative;
    line-height: 1;
    transition: transform 0.175s;
    will-change: transform;
}

.image:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--gray);
    display: block;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.1s;
}

.title:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--gray);
    display: block;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.1s;

}

.loading .title:after {
    transition: opacity 0.175s;
    opacity: 1;
}
.loading img {
    transition: opacity 0.175s;
    opacity: 0;
}

@media (max-width: 768px) { 
    .prev, .next {
        display: none;
    }

    .filter {
        padding: 0 0 24px;
    }
    .line {
        overflow: visible;
    }
    .image {
        width: 45px;
        height: 45px;
        margin-bottom: 8px;
    }

    .item:not(.item_line)::before {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 40px;
        margin-right: -26px;
    }
    .item:not(.item_line)::after {
        content: '';
        opacity: 0;
        width: 10px;
        height: 10px;
        top: 44px;
        margin-right: -22px;
    }

    .line:not(.line_gray) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin-bottom: 12px;
    }
    .line_gray {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
    .item {
        padding: 10px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 10px;
        width: 100%;
        
    }
    .title_line {
        font-size: 12px;
        width: auto;
    }
    .inner {
        align-items: flex-start;
        
    }

}