.product {
    display: flex;
    flex-wrap: wrap;
}

.view {
    display: block;
    flex: 1;
    position: relative;
    align-self: flex-start;

}
.image_mob {
    display: none;
}
.view:before {
    content: '';
    padding-top: 100%;
    display: block;
    position: relative;
}
.view img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: cover;
}
.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}
.info h1 {
    margin-bottom: 24px;
    font-weight: 900;
}
.info p {
    font-size: 20px;
    line-height: 1.4;
}

.block {
    display: block;
    margin-bottom: 32px;
}
.block:last-child {
    margin-bottom: 0;
}
.block h3 {
    font-size: 24px;
    margin: 0;
    line-height: 1;
    margin-bottom: 4px;
    font-weight: 800;
}
.group {
    display: flex;
}
.group .block{
    flex: 1;
    padding-right: 12px;
    margin-right: 12px;
    border-right: 1px solid var(--yellow);
    margin-bottom: 0;
}
.group .block h3{
    font-weight: 700;
    font-size: 14px;
}
.group .block p{
    font-weight: 800;
    font-size: 18px;
}
.button {
    padding-top: 32px;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.content {
    padding-top: 70px;
    font-size: 14px;
}
.content h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
}
.content table, .content td, .content th {
    border: 2px #808080 solid;
    border-collapse: collapse;
}
.content td {
    padding: 12px;
}

.back {
    position: relative;
    padding: 0;
    background: none;
    border: none;
    display: block;
    font-size: 18px;
    color: var(--green);
    font-weight: 700;
    padding: 8px 0;
    margin-bottom: 6px;
    height: 32px;
    outline: none;
    line-height: 1;
    align-self: flex-start;
    cursor: pointer;
}
.backIcon {
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -13px;
    margin-right: 12px;
    height: 26px;
    width: 34px;
}
.backIcon svg{
    display: block;
    width: auto;
    height: 100%;
    fill: var(--green);
}
.backIcon:before{
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 26px;
    left: 8px;
    background-color: var(--green);
}

@media (max-width: 960px) { 
    .view {
        max-width: 300px;
    }
}
@media (max-width: 768px) { 
    .product {
        margin-top: 40px;
    }
    .view {
        display: none;
    }
    .image_mob {
        display: block;
        max-width: 100%;
        max-height: 300px;
        object-fit: cover;
        margin-bottom: 12px;
    }
}
@media (max-width: 514px) { 
    .info {
        padding-left: 0;
    }
    .back {
        margin-left: 34px;
        margin-bottom: 12px;
    }
}