.root {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.root__button {
    display: block;
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    padding: 8px;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    color: currentColor;
}


.root__button:hover .root__item:first-child {
    transform: translateY(-2px);
    transition-duration: 175ms;
}
.root__button:hover .root__item:last-child {
    transform: translateY(2px);
    transition-duration: 175ms;
}

.root__button_active .root__item:first-child, .root__button_active:hover .root__item:first-child {
    transform: translateY(2px);
    transition-duration: 175ms;

}
.root__button_active .root__item:last-child, .root__button_active:hover .root__item:last-child {
    transform: translateY(-2px);
    transition-duration: 175ms;
}

.root__item {
    width: 36px;
    display: block;
    height: 4px;
    flex-direction: column;
    background-color: currentColor;
    justify-content: space-between;
    transition: transform 350ms

}

@media (max-width: 960px) { 
    .root {
        width: 90px;
        left: 0;
    }
}
@media (max-width: 560px) { 
    .root {
        width: 90px;
        left: 0;
    }
}