.inner {
    position: relative;
    width: 900px;
    padding-bottom: 80px;
}
.inner h1{
    font-weight: 800;
    line-height: 1;
    font-size: 72px;
    margin-bottom: 24px;
}
.inner p {
    font-size: 18px;
}
.inner p:not(:last-child){
   margin-bottom: 18px;
}

.content {
    width: 100%;
    display: flex;
    margin-bottom: 60px;
}
.item {
    width: 100%;
}

.item:not(:first-child) {
    padding-left: 40px;
    margin-left: 40px;
    border-left: 2px solid var(--yellow);
}

.grid {
    padding-top: 24px;
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
}
.grid.open {
    display: grid;
}
.grid.close {
    display: none;
}

.button {
    background-color: transparent;
    border: none;
    color: var(--green);
    font-size: 20px;
    padding: 12px;
    font-weight: 800;
    outline: none;
    cursor: pointer;
}
.block {
    margin-bottom: 32px;
}
.block:last-child {
    margin-bottom: 0;
}


@media (max-width: 768px) { 
    .inner {
        padding-top: 40px;
    }
    .inner h1{
        font-size: 42px;
    }
    .inner p{
        font-size: 42px;
        font-size: 16px;
    }
}