.root {
    position: relative;
    display: block;
    background-color: var(--green);
    color: var(--yellow);
}
.root:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: var(--yellow);
}
.root h4{
    font-size: 20px;
}
.root h5 {
    font-size: 14px;
}

.row {
    display: flex;
    justify-content: center;
}
.column {
    position: relative;
    flex: 1;
    font-size: 14px;
    color: var(--green);
    background-color: var(--yellow);
    padding-bottom: 24px;
}
.copyright {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 12px;
}
.column:last-child .list__title {
    padding-left: 42px;
}
.column:last-child .sublist {
    padding-left: 42px;
}
.flex {
    display: flex;
    flex: initial;
    width: 100%;
    background-color: var(--green);
    color: var(--yellow);
    padding-left: 0;
}

.title {
    text-align: center;
}
.sertificates {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.sertificate {
    margin-right: 24px;
}
.sertificate:last-child {
    margin-right: 0;
}
.sertificate img {
    width: 100%;
    max-width: 200px;
}

.list {
    display: flex;
    flex-direction: column;
    position: relative;
    list-style: none;
    font-size: 18px;
    flex: 1;
}

.categories {
    /* display: flex; */
    /* flex: 3; */
}
/* .categories li{
    width: 50%;
} */
.sublist {
    border-top: 1px solid currentColor;
    list-style: none;
    font-size: 14px;
    padding-top: 10px;

}

.list__item {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    line-height: 1.2;
    transition: background-color 350ms ease-in-out
}
.list__item:hover {
    transition-duration: 350ms;
    /* background-color: #d4c00f; */
    /* color: var(--green); */
}
.list__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    padding: 6px 12px;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    padding-top: 26px;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.list__item_active {
    background-color: var(--yellow);
    color: var(--green);
}
.icon {
    height: 28px;
    width: auto;
    fill: currentColor;
    margin-left: 12px;
}

.bottom {
    border-top: 1px solid currentColor;
}
.logo {
    font-size: 36px;
    font-weight: 900;
    display: block;
    text-align: right;
}
.logo_note {
    display: block;
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
}
.logo svg {
    fill: currentColor;
}
.logo svg:first-child {
    margin-right: 8px;
}

@media (max-width: 960px) { 
    .row {
        flex-direction: column-reverse;
    }
    .root {
        overflow: hidden;
    }
    .column:last-child .list__title{
        padding-left: 0;
    }
    .column:last-child .sublist{
        padding-left: 16px;
    }
    .root:before {
        display: none;
    }
    .root>div {
        padding: 0;
    }

}
@media (max-width: 768px) { 
    .flex {
        flex-direction: column;
    }
    .list__title {
        min-height: 0;
    }
}