.wrapper {
    flex: 1;
    display: flex;
    align-items: stretch;
    width: 100%;
    max-width: 100%;
}
.item {
    flex: 1;
}
.inner {
    position: relation;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.image {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    background-size: cover;
}
.icon {
    position: relative;
    z-index: 2;
    fill: var(--yellow);
}
.image:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, transparent, black);
    z-index: 1;
}
.title {
    font-size: 36px;
    padding: 42px 10px;
    background-color: var(--yellow);;
    text-transform: uppercase;
    text-align: center;
    font-family: Muller;
}


@media (max-width: 1440px) {
    .title {
        font-size: 30px;
    }
}

@media (max-width: 1150px) {
    .title {
        font-size: 28px;
    }
}

@media (max-width: 960px) {
    .wrapper {
        flex-direction: column;
    }
    .title {
        font-size: 28px;
        padding: 24px 10px;
    }
}

@media (max-width: 414px) {
    .wrapper {
        flex-direction: column;
    }
    .title {
        font-size: 22px;
        padding: 20px 10px;
    }
}