.search {
    position: relative;
    display: block;
}

.submit {
    position: absolute;
    top: 4px;
    right: 0;
    background: none;
    border: none;
    width: 58px;
    height: 54px;
    padding: 12px 16px;
    outline: none;
    color: var(--yellow);
}
.submit svg {
    max-height: 100%;
    max-width: 100%;
    fill: currentColor;
}