.search {
    position: absolute;
    display: block;
    z-index: 100;
    right: 0;
    top: 0;
    height: 100%;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.button {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    outline: none;
    color: var(--green);
    z-index: 101;
}
.button svg {
    max-height: 100%;
    max-width: 100%;
    fill: currentColor;
}
.submit {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    height: 56px;
    width: 56px;
    padding: 12px;
    outline: none;
    color: var(--green);
    z-index: 101;
}
.submit svg {
    max-height: 100%;
    max-width: 100%;
    fill: currentColor;
}

.form {
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 50vw;
    margin-right: -50vw;
    top: 0;
    background-color:var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 90px;
}
.form.open {
    opacity: 1;
    pointer-events: initial;
}
.form.close {
    opacity: 0;
    pointer-events: none;
}

.input {
    width: 100%;
    margin-bottom: 0;
}

@media (max-width: 560px) { 
    .button {
        padding: 12px;
    }
    .search {
        width: 60px;
    }
    .form {
        padding: 0 60px;
    }
}