.inner {
    position: relative;
    width: 900px;
}
.inner h1{
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    font-size: 72px;
    margin-bottom: 24px;
    text-align: right;
}

.inner p:not(:last-child){
   margin-bottom: 18px;
}

.content {
    width: 100%;
    display: flex;
    margin-bottom: 60px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.partner {
    padding: 24px 60px;
    min-width: 33%;
    max-width: 33.33%;
    box-sizing: border-box;
}
.partner img {
    width: 100%;
}

.sertificates {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}
.sertificate {
    padding: 24px;
    max-width: 270px;
}
.sertificate img {
    width: 100%;
}
.sertificates h2 {
    width: 100%;
}
.sertificates:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 100%;
    background-color: var(--yellow);
    z-index: -1;
}
.sertificates:last-child {
    margin-bottom: -40px;
}

.list {
    padding-top: 40px;
}
.item {
    width: 100%;
    display: flex;
    margin-bottom: 24px;
    color: var(--yellow);
    background-color: var(--green);
}
.item img {
    width: 300px;
    height: 100%;
    object-fit: cover;
}
.item_title {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}
.item_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.item_button {
    display: block;
    padding: 12px;
    background-color: var(--yellow);
    color: var(--green);
    align-self: flex-end;
}


@media (max-width: 768px) { 
    .inner {
        padding-top: 40px;
    }
    .inner h1{
        font-size: 42px;
    }
    .inner p{
        font-size: 42px;
        font-size: 16px;
    }
    .partner {
        padding: 12px;
        min-width: 33%;
        max-width: 33.33%;
        box-sizing: border-box;
    }
    .sertificate {
        max-width: 33.3%;
        padding: 8px;
    }
}