.contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.2;
    font-weight: 400;
    max-width: 600px;
    min-width: 300px;
    font-size: 18px;
}
.contacts_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.contacts_item:last-child {
    margin-bottom: 0;
}
.contacts_item a:not(:last-child) {
    margin-bottom: 12px;
}