.inner {
    position: relative;
    width: 900px;
    padding-bottom: 80px;
}
.inner h1{
    /* font-weight: 900;
    line-height: 1;
    font-size: 72px;
    margin-bottom: 24px; */
}
.inner p {
    font-size: 18px;
}
.inner p:not(:last-child){
   margin-bottom: 18px;
}

.content {
    width: 100%;
    display: flex;
    margin-bottom: 60px;
}
.item {
    width: 100%;
}

.item:not(:first-child) {
    padding-left: 40px;
    margin-left: 40px;
    border-left: 2px solid var(--yellow);
}


@media (max-width: 768px) { 
    .inner {
        padding-top: 40px;
    }
    .inner h1{
        font-size: 42px;
    }
    .inner p{
        font-size: 42px;
        font-size: 16px;
    }
    .content {
        flex-direction: column;
    }
    .item:not(:first-child) {
        padding-left: 0;
        margin-left: 0;
        border-left: none;
        padding-top: 32px;
    }
}