.root {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
    width: 0;
    color: var(--yellow);
    pointer-events: none;
}
.root:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
    opacity: 0;
    transition: opacity 350ms var(--easeInOutQuad);
}

.inner {
    z-index: 1;
    width: 480px;
    max-width: 100vw;
    position: relative;
    box-shadow: 0 10px 19px #000;
    background-color: var(--green);
    color: var(--yellow);
    padding: 32px;
    padding-top: 80px;
    height: 100%;
    overflow: scroll;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 350ms, opacity 350ms var(--easeInOutQuad);
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: currentColor;
}
.close i {
    width: 50px;
    height: 6px;
    background-color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -25px;
    transform: rotate(-45deg);
    transition: transform 350ms var(--easeInOutQuad);
    will-change: transform;
}
.close i:first-child {
    transform: rotate(45deg);
}
.close:hover i {
    transition-duration: 350ms;
    transition-timing-function: var(--easeOutSine);
    transform: rotate(-25deg);
}
.close:hover i:first-child {
    transform: rotate(25deg);
}

.entering {
    pointer-events: initial
}
.entered {
    pointer-events: initial
}
.exiting {
    pointer-events: none
}
.exited {
    pointer-events: none
}

.entering .inner {
    opacity: 1;
    transform: translateX(0);
    transition-duration: 350ms;
    transition-timing-function:  var(--easeOutSine);
}
.entered .inner {
    opacity: 1;
    transform: translateX(0);
    transition-duration: 350ms;
    transition-timing-function: var(--easeOutSine);
}

.entering.root:before{
    display: block;
    opacity: 0.6;
    transition: opacity 350ms var(--easeOutSine);

}
.entered.root:before{
    display: block;
    opacity: 0.6;
    transition: opacity 350ms var(--easeOutSine);

}
.exiting .inner {
    opacity: 0;
    transform: translateX(-100%);
}
.exited .inner {
    opacity: 0;
    transform: translateX(-100%);
}



.list {
    position: relative;
    list-style: none;
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
}
.list_page {
    padding-left: 0;
    border-bottom: 1.5px solid var(--yellow);
}

.sublist {
    list-style: none;
    padding-left: 24px;
    font-size: 14px;
    height: 0;
    overflow: hidden;
}

.list__item {
    padding: 12px 32px;
    margin-left: -32px;
    display: flex;
    align-items: center;
    font-weight: 700;
    transition: background-color 350ms ease-in-out
}
.list__item:hover {
    transition-duration: 350ms;
}
.list__item:hover .icon {
    transition-duration: 350ms;
    transform: scale(1.3);
    transform-origin: center;
}
.list__item span {
    transition: transform 350ms ease-in-out
}
.list__item:hover span {
    transition-duration: 350ms;
    transform: translateX(10px);
}
.list__item_page {
    padding: 12px 32px;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}
.list__item_active {
    background-color: var(--yellow);
    color: var(--green);
}
.icon {
    width: 44px;
    height: auto;
    fill: currentColor;
    margin-right: 12px;
    transition: transform 350ms ease-in-out
}

.search {
    padding: 16px;
}

@media (max-width: 425px) {
    .inner {
        max-width: 320px;
        padding: 16px;
        padding-top: 40px;
    }
    .list {
        padding: 16px;
    }
    .list_page {
        padding-left: 0;
    }
    .list__item {
        font-size: 16px;
    }
    .list__item_page {
        font-size: 18px;
    }
    .icon {
        width: 28px;
    }

}


